PATH_add bin

export CLOUDSDK_CONFIG=$PWD/gcloud-config

export CLOUDSDK_CORE_PROJECT=fe-mmcnichol
export CLOUDSDK_COMPUTE_REGION=us-east1
export CLOUDSDK_COMPUTE_ZONE=us-east1-b
export CLOUDSDK_IAM_EMAIL="bbl-director@${CLOUDSDK_CORE_PROJECT}.iam.gserviceaccount.com"

export GOOGLE_APPLICATION_CREDENTIALS=/Users/mmcnichol/.config/gcloud/application_default_credentials.json
